@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}


// MEDIA QUERY MANAGER
@mixin mqm($breakpoint){

    @if $breakpoint == tab-land{
        @media (max-width: 75em) {@content};    //1200px 
    }

    @if $breakpoint == tab-medium{
        @media (max-width: 67.19em) {@content};    //1075px
    }

    @if $breakpoint == tab-port{
        @media (max-width: 56.25em) {@content};     //900px
    }

    @if $breakpoint == big-phone{
        @media (max-width: 37.5em) {@content};      //600px
    }

    @if $breakpoint == phone{
        @media (max-width: 25em) {@content};      //400px
    }

    @if $breakpoint == small-phone{
        @media (max-width: 18.75em) {@content};      //300px
    }

    @if $breakpoint == big-desktop{
        @media (min-width: 112.5em) {@content};        //1800px
    }
}