$color_grey-default: #777777;

$color_grey-dark: #333333;

$color_grey-medium: #555555;

$color_white: #FFFFFF;

$color_offWhite: #EEEEEE;

$color_black: #000000;

// $color-secondary: #F7CA18;

$color-secondary: #F2DD57;

$color_primary-light: #26d0ce;

$color_primary-dark: #1a2980;

$color_primary: #2C45D4;

$grid-width: 114rem;

$horizontal-gutter: 6rem;

$horizontal-gutter-small: 2rem;

$vertical-gutter: 8rem;